html
  head
    link(rel="stylesheet", href="foundation.css")
    link(rel="stylesheet", href="d3.css")
  body
    div.row
      div.large-10.columns.large-centered.panel.radius

    script(src="http://d3js.org/d3.v3.min.js", charset="utf-8")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="")
