.rect {
  fill: steelblue;
  stroke: black;
}

.scatter {
  stroke: #336699;
  stroke-width: 2px;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}
